<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\RegistrDisconnection.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
    <!--
    <system.web>
      <globalization uiCulture="en" culture="en-GB"/>
    </system.web>
 -->
  </location>
</configuration>
<!--ProjectGuid: AFB84D48-378F-4AE3-9621-6E7C23D56395-->