
@if (User.Identity.IsAuthenticated)
{

    <form method="post" asp-controller="Account" asp-action="Logout">
        @*<p>Доброго дня користувач <b> @User.Identity.Name </b> !</p>
        <label class="control-label">Для виходу з програми натисніть</label>
        <input type="submit" value="Вихід" />*@
        <p></p>
        <h4>Зміни в програмі станом на 03.12.2020 р.:</h4>
        <hr />
        <ul>
            <li>Адміністрування => Список користувачів => Робота з користувачами програми</li>
            <li>Адміністрування => Список ЦОКів => Заповнити дані про свій ЦОК</li>
            <li>Адміністрування => Список напрямків => Налаштування напрямків відключення абонентів</li>
            <li>
                Адміністрування => Список вихідних і святкових днів => Довідник вихідних і святкових днів. Він єдиний для всіх. Заповнювати акуратно.
                Якщо не заповнене поле рік, значить вихідний буде враховуватись щороку.
            </li>
            <li>Адміністрування => Відміна попереджень по напрямку => Надана можливість видалити масово помилково видані попередження</li>
            <hr />
            <li>Припинення => Список абонентів на відключення => Добавлено завантаження боржників від зазначеної суми боргу.</li>
            <li>Припинення => Список абонентів на відключення => Добавлено оновлення даних (поновлення всіх оплат і боргових сум абонента).</li>
            <li>Припинення => Список абонентів на відключення => Добавлено пошук абонента по особовому рахунку.</li>
            <li>Припинення => Список абонентів на відключення => Надана можливість переглянути детальну інформацію по абоненту.</li>
            <li>Припинення => Список абонентів на відключення => Надана можливість переглянути інформацію в програмі Utility.</li>
            <li>Припинення => Список абонентів на відключення => А також для необхідності видалити абонента зі списку боржників.</li>
            <li>Припинення => Друк попередження => Надана можливість відфільтрувати абонентів по напрямках відключення</li>
            <li>Припинення => Друк попередження => Добавлено пошук абонента по особовому рахунку і ПІП.</li>
            <li>Припинення => Друк попередження => Роздрукувати попередження абонентам згідно напрямку.</li>
            <li>Припинення => Друк попередження => Для Укрпошти => Роздрукувати конверти згідно напрямку.</li>
            <li>Припинення => Друк попередження => Для Укрпошти => Сформувати для пошти DBF - файл.</li>
            <li>Припинення => Друк попередження => Для Укрпошти => Роздрукувати супровідну до DBF - файлу.</li>
            <li>Припинення => Друк попередження => Вимоги => Роздрукувати вимоги на попередження і відключення.</li>
            <li>Припинення => Звітність => Станом на завжди робиться на перше число вибраного місяця.</li>
            <hr />
            <li>Відновлення => Список абонентів на відновлення => Добавлено завантаження відключених абонентів всіх або по одному.</li>
            <li>Відновлення => Список абонентів на відновлення => Добавлено оновлення даних (борги і перерахунки).</li>
            <li>Відновлення => Список абонентів на відновлення => Добавлено пошук абонента по особовому рахунку.</li>
            <li>Відновлення => Список абонентів на відновлення => Добавлено закриття періоду.</li>
            <li>Відновлення => Список абонентів на відновлення => Добавлено формування звіту в Excel.</li>
            <li>Відновлення => Список абонентів на відновлення => Надана можливість внести зміни в останню сальдовку.</li>
            <li>Відновлення => Список абонентів на відновлення => Надана можливість переглянути детальну інформацію по абоненту актуальне сальдо.</li>
            <li>Відновлення => Список абонентів на відновлення => А також для необхідності видалити абонента зі списку.</li>
            <li>Відновлення => Список абонентів на відновлення => Надана можливість переглянути інформацію по абоненту в програмі Utility.</li>
            <hr />
            <li>Бухгалтерія => Сальдовка по абонентах => Надана можливість пошуку абонента по ПІП або ос.рах.</li>
            <li>Бухгалтерія => Сальдовка по абонентах => Можна вибрати необхідний період.</li>
            <li>Бухгалтерія => Сальдовка по абонентах => Добавлено формування звіту в Excel.</li>
            <li>Бухгалтерія => Сальдовка по абонентах => Надана можливість переглянути детальну інформацію по абоненту з сальдами за весь період відключення.</li>
            <li>Бухгалтерія => Сальдовка по абонентах => Можливо видалити абонента.</li>
            <li>Бухгалтерія => Сальдовка по абонентах => Переглянути дані в Utility.</li>
            <li>Бухгалтерія => Сальдовка по абонентах => Детально => Можливо роздрукувати рахунок і акт абоненту за послуги.</li>
            <li>Бухгалтерія => Сальдовка по абонентах => Детально => Внести зміни в останню сальдовку.</li>
        </ul>

    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
}