
@if (User.Identity.IsAuthenticated)
{

    <form method="post" asp-controller="Account" asp-action="Logout">
        <p>Доброго дня користувач <b> @User.Identity.Name </b> !</p>
        <label class="control-label">Для виходу з програми натисніть</label>
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
}