@model RegistrDisconnection.Models.Dictionaries.DirectionDict

@{
    ViewData["Title"] = "Добавлення населеного пункту";
}

<h4>Добавити населений пункт до напрямку</h4>
<div class="row">
    <div class="col-md-7">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Назва напрямку:</label>
                @Html.DisplayFor(model => model.Name)
                @Html.Hidden("Id")
            </div>
            <div class="form-group">
                <span asp-validation-for="Name" class="text-danger"></span>
                <label for="city" class="control-label">Населенний пункт</label>
                <select name="city" id="city" class="form-control" asp-items="ViewBag.City"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавити" class="btn btn-primary" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Населені пункти:</label>
                <div class="form-group">
                    @foreach (var cityMap in Model.DirectionCityMaps)
                    {
                        <div style="border-bottom: 1px solid black; background-color: whitesmoke; display: flex; justify-content: space-between; align-items: center" class="form-group">
                            @cityMap.Name
                            <a class="btn btn-warning" style="margin-left: auto" asp-action="DeleteCity" asp-route-id="@cityMap.Id">
                                Видалити
                            </a>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку напрямків</a>
</div>
