@model RegistrDisconnection.Models.Dictionaries.Organization

@{
    ViewData["Title"] = "Редагування організації";
}

<h4>Редагування організації</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Code" class="input-group-text" id="inputGroup-sizing-Code">Код організації:</span>
        </div>
        <input asp-for="Code" class="form-control" aria-describedby="inputGroup-sizing-Code" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Name" class="input-group-text" id="inputGroup-sizing-Name">Назва організації:</span>
        </div>
        <input asp-for="Name" class="form-control" aria-describedby="inputGroup-sizing-Name" readonly>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Nach" class="input-group-text" id="inputGroup-sizing-Nach">Начальник організації:</span>
        </div>
        <input asp-for="Nach" class="form-control" aria-describedby="inputGroup-sizing-Nach">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Buh" class="input-group-text" id="inputGroup-sizing-Buh">Бухгалтер організації:</span>
        </div>
        <input asp-for="Buh" class="form-control" aria-describedby="inputGroup-sizing-Buh">
    </div>
    <div class="input-group mb-3">
        <input asp-for="RegionId" class="form-control" aria-describedby="inputGroup-sizing-RegionId" readonly type="hidden">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Address" class="input-group-text" id="inputGroup-sizing-Address">Повна адреса організації:</span>
        </div>
        <input asp-for="Address" class="form-control" aria-describedby="inputGroup-sizing-Address">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Index" class="input-group-text" id="inputGroup-sizing-Index">Поштовий індекс:</span>
        </div>
        <input asp-for="Index" class="form-control" aria-describedby="inputGroup-sizing-Index">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Oblast" class="input-group-text" id="inputGroup-sizing-Oblast">Область:</span>
        </div>
        <input asp-for="Oblast" class="form-control" aria-describedby="inputGroup-sizing-Oblast">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Rajon" class="input-group-text" id="inputGroup-sizing-Rajon">Район:</span>
        </div>
        <input asp-for="Rajon" class="form-control" aria-describedby="inputGroup-sizing-Rajon">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="City" class="input-group-text" id="inputGroup-sizing-City">Населений пункт:</span>
        </div>
        <input asp-for="City" class="form-control" aria-describedby="inputGroup-sizing-City">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Street" class="input-group-text" id="inputGroup-sizing-Street">Вулиця:</span>
        </div>
        <input asp-for="Street" class="form-control" aria-describedby="inputGroup-sizing-Street">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="Tel" class="input-group-text" id="inputGroup-sizing-Tel">Телефон:</span>
        </div>
        <input asp-for="Tel" class="form-control" aria-describedby="inputGroup-sizing-Tel">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="EDRPOU" class="input-group-text" id="inputGroup-sizing-EDRPOU">ЄДРПОУ:</span>
        </div>
        <input asp-for="EDRPOU" class="form-control" aria-describedby="inputGroup-sizing-EDRPOU">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="IPN" class="input-group-text" id="inputGroup-sizing-IPN">ІПН:</span>
        </div>
        <input asp-for="IPN" class="form-control" aria-describedby="inputGroup-sizing-IPN">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="MFO" class="input-group-text" id="inputGroup-sizing-MFO">МФО:</span>
        </div>
        <input asp-for="MFO" class="form-control" aria-describedby="inputGroup-sizing-MFO">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="RozRah" class="input-group-text" id="inputGroup-sizing-RozRah">Р/р:</span>
        </div>
        <input asp-for="RozRah" class="form-control" aria-describedby="inputGroup-sizing-RozRah">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span asp-validation-for="NameREM" class="input-group-text" id="inputGroup-sizing-NameREM">Назва РЕМу:</span>
        </div>
        <input asp-for="NameREM" class="form-control" aria-describedby="inputGroup-sizing-NameREM" readonly>
    </div>
    <div class="input-group mb-3">
        <input asp-for="OrganizationUnitGUID" class="form-control" aria-describedby="inputGroup-sizing-OrganizationGuid" readonly type="hidden">
    </div>
    <div class="input-group mb-3">
        <input asp-for="DbConfigName" class="form-control" aria-describedby="inputGroup-sizing-DbConfigName" readonly type="hidden">
    </div>
    <div class="input-group mb-3">
        <input asp-for="CurrPeriod" class="form-control" aria-describedby="inputGroup-sizing-CurrPeriod" readonly type="hidden">
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-info">Повернутись до списку організацій</a>
    </div>
</form>
