@model RegistrDisconnection.ViewModels.FormHol 
@{
    ViewData["Title"] = "GetFreeDay";
}

<h1>GetFreeDay</h1>

<form method="post">
    <input type="date" asp-for="DateFrom"/>
    <input type="submit"/>
</form>

@ViewData["Calc"]

